body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #dddddd;
  text-align: center
}
.search-container .btn {
  margin-top: 20px;
}
.table-container {
  width: 900px;
  margin: 0 auto;
  font-size: 14px;
}
.loader-container {
  text-align: center;
  margin: 30px;
}
.loader-container img {
  display: block;
  width: 200px;
  margin: 0 auto
}
